.numbers-container {
  display: block;
  height: 700px;
  text-align: center;
}
.number-bar {
  display: inline-block;
  margin: 0px 1px;
  width: 5px;
  background-color: rgb(49, 109, 165);
}

.buttons-container {
  display: block;
  height: 50px;
  width: 800px;
  align-items: center;
  margin: auto;
}
.button-misc,
.button-algo {
  width: fit-content;
  height: 30px;
  margin: 10px 5px 0px 5px;
}
.button-misc:hover {
  background-color: rgb(85, 138, 236);
}
.textarea-setting {
  resize: none;
  height: 20px;
  width: 60px;
  position: relative;
  top: 10px;
}
#input-sortingAlgo,
#input-speed,
#button-start {
  margin-left: 10px;
}

.messages-container {
  display: block;
  height: 40px;
  width: 800px;
  margin: auto;
}
.message-block {
  float: left;
  border-left: 2px solid black;
  padding-left: 10px;
}
#message-refresh {
  width: 185px;
}
#message-algo {
  width: 202px;
}
#message-settings {
  width: 320px;
}
#message-start {
  padding-left: 10px;
}
